body {
  font-family: 'Poppins', sans-serif;
}

.nav {
  display: inline-flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  
}

.nav-links li {
  padding: 10px 15px;
}